{
  "openapi": "3.1.0",
  "info": {
    "title": "Poku API",
    "version": "1.0.0",
    "description": "OpenAPI document for the authenticated Poku API routes."
  },
  "servers": [
    {
      "url": "https://api.pokulabs.com"
    }
  ],
  "tags": [
    {
      "name": "numbers"
    },
    {
      "name": "calls"
    },
    {
      "name": "messages"
    },
    {
      "name": "forms"
    },
    {
      "name": "webhooks"
    }
  ],
  "paths": {
    "/numbers": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List reserved numbers",
        "description": "Requires authentication..",
        "operationId": "listReservedNumbersAlias",
        "responses": {
          "200": {
            "description": "Reserved numbers for the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReservedPhoneNumber"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/numbers/available": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List available numbers",
        "description": "Requires authentication.",
        "operationId": "listAvailableNumbersAlias",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "GB"
              ],
              "default": "US"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 999
            },
            "description": "Only used for US numbers."
          }
        ],
        "responses": {
          "200": {
            "description": "Available phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableReservedNumber"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/numbers/reserve": {
      "post": {
        "tags": [
          "numbers"
        ],
        "summary": "Reserve a phone number",
        "description": "Requires authentication.",
        "operationId": "reserveNumberAlias",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reserved number record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservedPhoneNumber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/numbers/{reservedNumberId}": {
      "delete": {
        "tags": [
          "numbers"
        ],
        "summary": "Delete a reserved number",
        "description": "Requires authentication.",
        "operationId": "deleteReservedNumberAlias",
        "parameters": [
          {
            "name": "reservedNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/numbers/{reservedNumberId}/messages": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List messages for a reserved number",
        "description": "Requires authentication.",
        "operationId": "listReservedNumberMessagesAlias",
        "parameters": [
          {
            "name": "reservedNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent inbound and outbound messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReservedNumberMessage"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/calls": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Start a conversation call",
        "description": "Requires authentication.",
        "operationId": "createCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call response payload",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CallResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedCallResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/messages/sms": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send an SMS message",
        "description": "Requires authentication.",
        "operationId": "sendSmsMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactMessageMedium"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered response text",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TextDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedTextResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/messages/whatsapp": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a WhatsApp message",
        "description": "Requires authentication.",
        "operationId": "sendWhatsappMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactMessageWhatsapp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered response text",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TextDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedTextResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/messages/slack": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a Slack message",
        "description": "Requires authentication.",
        "operationId": "sendSlackMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactMessageMedium"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered response text",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TextDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedTextResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/messages/{channelId}": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a message through a saved channel",
        "description": "Requires authentication.",
        "operationId": "sendChannelMessage",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactBasic"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered response text",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TextDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedTextResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/forms/sms": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form over SMS",
        "description": "Requires authentication.",
        "operationId": "sendSmsForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormMediumInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form response or timeout message",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ContactFormDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedContactFormResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/forms/whatsapp": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form over WhatsApp",
        "description": "Requires authentication.",
        "operationId": "sendWhatsappForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormWhatsappInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form response or timeout message",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ContactFormDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedContactFormResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/forms/slack": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form over Slack",
        "description": "Requires authentication.",
        "operationId": "sendSlackForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormMediumInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form response or timeout message",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ContactFormDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedContactFormResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/forms/{channelId}": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form through a saved channel",
        "description": "Requires authentication.",
        "operationId": "sendChannelForm",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormBasicInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form response or timeout message",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ContactFormDirectResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ToolWrappedContactFormResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhooks",
        "description": "Requires authentication.",
        "operationId": "listReservedNumberWebhooks",
        "responses": {
          "200": {
            "description": "Webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservedNumberWebhookListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create a reserved-number webhook",
        "description": "Requires authentication.",
        "operationId": "createReservedNumberWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservedNumberWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservedNumberWebhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "patch": {
        "tags": [
          "webhooks"
        ],
        "summary": "Update a reserved-number webhook",
        "description": "Requires authentication.",
        "operationId": "updateReservedNumberWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReservedNumberWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservedNumberWebhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete a reserved-number webhook",
        "description": "Requires authentication.",
        "operationId": "deleteReservedNumberWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "BadRequest": {
        "description": "Validation or request error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NoContent": {
        "description": "No content"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Generic error shape returned by Express error middleware.",
        "additionalProperties": true
      },
      "TextDirectResponse": {
        "type": "string",
        "description": "Rendered text response, timeout message, or image-links summary."
      },
      "ContactFormDirectResponse": {
        "oneOf": [
          {
            "type": "string",
            "description": "Timeout or no-response message."
          },
          {
            "type": "object",
            "required": [
              "values",
              "content"
            ],
            "properties": {
              "values": {
                "type": "object",
                "additionalProperties": true,
                "description": "Submitted form values."
              },
              "content": {
                "type": "string",
                "description": "Raw form response body."
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CallResponse": {
        "type": "object",
        "required": [
          "response"
        ],
        "properties": {
          "response": {
            "$ref": "#/components/schemas/TextDirectResponse"
          },
          "interactionId": {
            "type": "string",
            "nullable": true
          },
          "call": {
            "type": "object",
            "required": [
              "recordingUrl"
            ],
            "properties": {
              "recordingUrl": {
                "type": "string",
                "format": "uri"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedTextResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/TextToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedContactFormResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ContactFormToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedCallResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/CallToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "TextToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TextDirectResponse"
          }
        },
        "additionalProperties": false
      },
      "ContactFormToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ContactFormDirectResponse"
          }
        },
        "additionalProperties": false
      },
      "CallToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/CallResponse"
          }
        },
        "additionalProperties": false
      },
      "Message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 1000
      },
      "LongMessage": {
        "type": "string",
        "minLength": 1,
        "maxLength": 10000
      },
      "PhoneOrHandle": {
        "type": "string",
        "minLength": 1,
        "maxLength": 20
      },
      "WaitTime": {
        "type": "number",
        "minimum": 1,
        "maximum": 600,
        "default": 590
      },
      "FollowUpTime": {
        "type": "number",
        "minimum": 1,
        "maximum": 60000,
        "default": 60000
      },
      "Medium": {
        "type": "string",
        "enum": [
          "sms",
          "whatsapp",
          "slack"
        ]
      },
      "WhatsappTemplate": {
        "type": "object",
        "required": [
          "id",
          "variables"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "variables": {
            "type": "object",
            "minProperties": 1,
            "additionalProperties": {
              "type": "string",
              "minLength": 1,
              "maxLength": 5000
            }
          }
        },
        "additionalProperties": false
      },
      "CaptureFormFieldOption": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "value": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "additionalProperties": false
      },
      "CaptureFormStringValidationRule": {
        "type": "object",
        "required": [
          "title",
          "pattern"
        ],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "pattern": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Must be a valid regular expression."
          }
        },
        "additionalProperties": false
      },
      "CaptureFormField": {
        "type": "object",
        "required": [
          "id",
          "label",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "textarea",
              "email",
              "tel",
              "phone",
              "select",
              "checkbox",
              "address"
            ]
          },
          "required": {
            "type": "boolean"
          },
          "placeholder": {
            "type": "string",
            "maxLength": 200
          },
          "helper_text": {
            "type": "string",
            "maxLength": 300
          },
          "options": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/CaptureFormFieldOption"
            },
            "description": "Only valid for `select` fields."
          },
          "validations": {
            "type": "array",
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/CaptureFormStringValidationRule"
            },
            "description": "Only valid for `text`, `textarea`, `email`, `tel`, and `phone` fields."
          }
        },
        "additionalProperties": false
      },
      "FormBasicInput": {
        "type": "object",
        "required": [
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/LongMessage",
            "description": "Message shown before the form link. Use `{{url}}` for the full form link or `{{reply_token}}` for just the token."
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate",
            "description": "WhatsApp template payload. Only supported for WhatsApp interactions."
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "brand_image_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2000
          },
          "submit_label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "fields": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            }
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Customer phone number in E.164 format."
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Agent phone number in E.164 format."
          },
          "channel_id": {
            "type": "string",
            "format": "uuid"
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          },
          "medium": {
            "$ref": "#/components/schemas/Medium"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "FormMediumInput": {
        "type": "object",
        "required": [
          "message",
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/LongMessage",
            "description": "Message shown before the form link. Use `{{url}}` for the full form link or `{{reply_token}}` for just the token.",
            "default": "Please fill out this form: {{url}}"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "brand_image_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2000
          },
          "submit_label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "fields": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            }
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Customer phone number in E.164 format."
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Agent phone number in E.164 format."
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          }
        },
        "additionalProperties": false
      },
      "FormWhatsappInput": {
        "type": "object",
        "required": [
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/LongMessage",
            "description": "Message shown before the form link. Use `{{url}}` for the full form link or `{{reply_token}}` for just the token."
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          },
          "brand_image_url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2000
          },
          "submit_label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "fields": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            }
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Customer phone number in E.164 format."
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Agent phone number in E.164 format."
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ContactBasic": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "format": "uuid"
          },
          "medium": {
            "$ref": "#/components/schemas/Medium"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate",
            "description": "Only supported for WhatsApp interactions."
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          },
          "link_enabled": {
            "type": "boolean"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ContactMessageMedium": {
        "type": "object",
        "required": [
          "message",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          },
          "link_enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ContactMessageWhatsapp": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate"
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "wait_time": {
            "$ref": "#/components/schemas/WaitTime"
          },
          "follow_up_time": {
            "$ref": "#/components/schemas/FollowUpTime"
          },
          "link_enabled": {
            "type": "boolean"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ConversationCall": {
        "type": "object",
        "required": [
          "prompt",
          "to"
        ],
        "properties": {
          "prompt": {
            "$ref": "#/components/schemas/Message"
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "transfer_to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "language": {
            "type": "string",
            "minLength": 1,
            "maxLength": 7,
            "description": "Language code such as `en-US`."
          }
        },
        "additionalProperties": false
      },
      "ReservePhoneNumberRequest": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "pattern": "^\\+[1-9]\\d{1,14}$",
            "description": "Phone number in E.164 format."
          }
        },
        "additionalProperties": false
      },
      "AvailableReservedNumber": {
        "type": "object",
        "required": [
          "phoneNumber",
          "locality",
          "region",
          "country"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "locality": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "enum": [
              "US",
              "GB"
            ]
          }
        },
        "additionalProperties": false
      },
      "ReservedPhoneNumber": {
        "type": "object",
        "required": [
          "id",
          "app_user_id",
          "created_at",
          "updated_at",
          "phone_number",
          "twilio_phone_sid"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "phone_number": {
            "type": "string"
          },
          "twilio_phone_sid": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberMessage": {
        "type": "object",
        "required": [
          "sid",
          "from",
          "to",
          "body",
          "direction",
          "dateSent",
          "status"
        ],
        "properties": {
          "sid": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "nullable": true
          },
          "dateSent": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "phone.sms.received",
          "phone.call.received"
        ]
      },
      "CreateReservedNumberWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "eventTypes"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signingSecret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 200
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "eventTypes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "reservedPhoneNumberIds": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "UpdateReservedNumberWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signingSecret": {
            "type": "string",
            "minLength": 8,
            "maxLength": 200
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "eventTypes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "reservedPhoneNumberIds": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberWebhook": {
        "type": "object",
        "required": [
          "id",
          "app_user_id",
          "created_at",
          "updated_at",
          "url",
          "headers",
          "event_types",
          "interaction_channel_id",
          "reserved_phone_number_ids",
          "is_active"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "app_user_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signing_secret": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "event_types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "interaction_channel_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "reserved_phone_number_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberWebhookListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservedNumberWebhook"
            }
          }
        },
        "additionalProperties": false
      }
    }
  }
}
