{
  "openapi": "3.1.0",
  "info": {
    "title": "Poku API",
    "version": "1.0.0",
    "description": "OpenAPI document for the authenticated Poku API routes."
  },
  "servers": [
    {
      "url": "https://api.pokulabs.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "calls"
    },
    {
      "name": "messages"
    },
    {
      "name": "forms"
    },
    {
      "name": "interactions"
    },
    {
      "name": "numbers"
    },
    {
      "name": "webhooks"
    }
  ],
  "paths": {
    "/calls": {
      "post": {
        "tags": [
          "calls"
        ],
        "summary": "Place Outbound Call",
        "description": "Place an outbound AI phone call. By default, the request returns immediately with an `interactionId` while the call continues in the background. Set `waitForCallEnd` to `true` to keep the request open until the call ends and return the call summary.",
        "operationId": "createCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call started or completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                },
                "examples": {
                  "async": {
                    "summary": "waitForCallEnd omitted or false",
                    "value": {
                      "interactionId": "f3f7870f-30f5-4bf2-83b0-a05bc140030c"
                    }
                  },
                  "completed": {
                    "summary": "waitForCallEnd true",
                    "value": {
                      "response": "ABC restaurant confirmed your reservation for 2 people at 6 pm tomorrow.",
                      "call": {
                        "recordingUrl": "https://cdn.example.com/recordings/abc123.wav"
                      },
                      "interactionId": "f3f7870f-30f5-4bf2-83b0-a05bc140030c"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "List Calls",
        "description": "Returns a list of calls made on your account.",
        "operationId": "listCalls",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ]
      }
    },
    "/calls/{callId}": {
      "get": {
        "tags": [
          "calls"
        ],
        "summary": "Get Call",
        "description": "Returns details for a specific call.",
        "operationId": "getCall",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/interactions/{interactionId}/status": {
      "get": {
        "tags": [
          "interactions"
        ],
        "summary": "Get Interaction Status",
        "description": "Returns the current status for an interaction. Use this to poll an interaction created by an async request, such as an outbound call placed with `waitForCallEnd` set to `false`.",
        "operationId": "getInteractionStatus",
        "parameters": [
          {
            "name": "interactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The interaction ID returned by a Poku API request."
          }
        ],
        "responses": {
          "200": {
            "description": "Interaction status returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractionStatusResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Interaction still in progress",
                    "value": {
                      "interactionId": "f3f7870f-30f5-4bf2-83b0-a05bc140030c",
                      "status": "pending",
                      "createdAt": "2026-04-28T22:30:00.000Z"
                    }
                  },
                  "ended": {
                    "summary": "Call interaction completed",
                    "value": {
                      "interactionId": "f3f7870f-30f5-4bf2-83b0-a05bc140030c",
                      "status": "ended",
                      "createdAt": "2026-04-28T22:30:00.000Z",
                      "completionEvent": {
                        "event": "call.conversation.ended",
                        "payload": {
                          "interactionId": "f3f7870f-30f5-4bf2-83b0-a05bc140030c",
                          "summary": "ABC restaurant confirmed your reservation for 2 people at 6 pm tomorrow.",
                          "from": "+12155551234",
                          "to": "+14155550100"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/messages/sms": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send an SMS message",
        "description": "Send a one-way SMS to a phone number, or set a `waitTime` to listen for a reply and capture it in the response.",
        "operationId": "sendSmsMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactMessageMedium"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessageResponse"
                },
                "examples": {
                  "noWaitTime": {
                    "summary": "No waitTime set",
                    "value": {
                      "interactionId": "092f9eb4-3694-4718-9084-5c786afa87ec"
                    }
                  },
                  "replyReceived": {
                    "summary": "Reply received within waitTime",
                    "value": {
                      "response": "Human response: Hello there!"
                    }
                  },
                  "noReply": {
                    "summary": "No reply received",
                    "value": {
                      "response": "Human did not respond, please continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/whatsapp": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a WhatsApp message",
        "description": "Send a one-way WhatsApp message, or set a `waitTime` to listen for a reply and capture it in the response. Send from the Poku WhatsApp account using free-form text, or use your own WhatsApp number with a Meta-approved template.",
        "operationId": "sendWhatsappMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WhatsAppMessagePoku"
                  },
                  {
                    "$ref": "#/components/schemas/WhatsAppMessageOwn"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessageResponse"
                },
                "examples": {
                  "noWaitTime": {
                    "summary": "No waitTime set",
                    "value": {
                      "interactionId": "092f9eb4-3694-4718-9084-5c786afa87ec"
                    }
                  },
                  "replyReceived": {
                    "summary": "Reply received within waitTime",
                    "value": {
                      "response": "Human response: Hello there!"
                    }
                  },
                  "noReply": {
                    "summary": "No reply received",
                    "value": {
                      "response": "Human did not respond, please continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages/slack": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a Slack message",
        "description": "Send a one-way Slack message to a channel or user, or set a `waitTime` to listen for a reply and capture it in the response.\n\n**Prerequisites:** You must either [join the Poku Slack workspace](https://pokulabs.slack.com/join/shared_invite/zt-334pmqhy9-oZN8cMAXLFUdmDCgNZX9rA) or add the Poku bot to your own Slack workspace before using this endpoint.",
        "operationId": "sendSlackMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsMessageResponse"
                },
                "examples": {
                  "noWaitTime": {
                    "summary": "No waitTime set",
                    "value": {
                      "interactionId": "092f9eb4-3694-4718-9084-5c786afa87ec"
                    }
                  },
                  "replyReceived": {
                    "summary": "Reply received within waitTime",
                    "value": {
                      "response": "Human response: Hello there!"
                    }
                  },
                  "noReply": {
                    "summary": "No reply received",
                    "value": {
                      "response": "Human did not respond, please continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "List messages",
        "description": "Returns a list of messages sent and received on your account.",
        "operationId": "listMessages",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ]
      }
    },
    "/messages/{messageId}": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "Get messages",
        "description": "Returns details for a specific message.",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/messages/{channelId}": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a message through a saved channel",
        "description": "Send a message using a previously saved channel configuration.",
        "operationId": "sendChannelMessage",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactBasic"
              }
            }
          }
        }
      }
    },
    "/forms/sms": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form via SMS",
        "description": "Send a link to a form via SMS. When the recipient completes and submits the form, the contents are returned as an HTTP response OR via webhook.",
        "operationId": "sendSmsForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormMediumInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                },
                "examples": {
                  "formSubmitted": {
                    "summary": "Form submitted",
                    "value": {
                      "values": {
                        "name": "John Smith",
                        "email": "johnsmith@gmail.com"
                      },
                      "content": "First & Last Name: John Smith\nEmail: johnsmith@gmail.com"
                    }
                  },
                  "noReply": {
                    "summary": "No response received",
                    "value": {
                      "response": "Human did not respond. Continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/whatsapp": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form via WhatsApp",
        "description": "Send a link to a form via WhatsApp. When the recipient completes and submits the form, the contents are returned as a tool call response. Send from the Poku WhatsApp account, or use your own WhatsApp number with a Meta-approved template.",
        "operationId": "sendWhatsappForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WhatsAppFormPoku"
                  },
                  {
                    "$ref": "#/components/schemas/WhatsAppFormOwn"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                },
                "examples": {
                  "formSubmitted": {
                    "summary": "Form submitted",
                    "value": {
                      "values": {
                        "name": "John Smith",
                        "email": "johnsmith@gmail.com"
                      },
                      "content": "First & Last Name: John Smith\nEmail: johnsmith@gmail.com"
                    }
                  },
                  "noReply": {
                    "summary": "No response received",
                    "value": {
                      "response": "Human did not respond. Continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/slack": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form via Slack",
        "description": "Send a link to a form via Slack. When the recipient completes and submits the form, the contents are returned as a tool call response.\n\n**Prerequisites:** You must either [join the Poku Slack workspace](https://pokulabs.slack.com/join/shared_invite/zt-334pmqhy9-oZN8cMAXLFUdmDCgNZX9rA) or add the Poku bot to your own Slack workspace before using this endpoint.",
        "operationId": "sendSlackForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackFormInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                },
                "examples": {
                  "formSubmitted": {
                    "summary": "Form submitted",
                    "value": {
                      "values": {
                        "name": "John Smith",
                        "email": "johnsmith@gmail.com"
                      },
                      "content": "First & Last Name: John Smith\nEmail: johnsmith@gmail.com"
                    }
                  },
                  "noReply": {
                    "summary": "No response received",
                    "value": {
                      "response": "Human did not respond. Continue where you left off."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forms/{channelId}": {
      "post": {
        "tags": [
          "forms"
        ],
        "summary": "Send a form through a saved channel",
        "description": "Send a form using a previously saved channel configuration.",
        "operationId": "sendChannelForm",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormBasicInput"
              }
            }
          }
        }
      }
    },
    "/numbers/available": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List available numbers",
        "description": "Browse phone numbers available to reserve. Filter by country or area code.",
        "operationId": "listAvailableNumbersAlias",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "GB"
              ],
              "default": "US"
            }
          },
          {
            "name": "areaCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "maximum": 999
            },
            "description": "Only used for US numbers."
          }
        ],
        "responses": {
          "200": {
            "description": "List of available phone numbers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailablePhoneNumber"
                  }
                },
                "example": [
                  {
                    "phoneNumber": "+12184034360",
                    "locality": "Hibbing",
                    "region": "MN",
                    "country": "US"
                  },
                  {
                    "phoneNumber": "+12184008148",
                    "locality": "Warren",
                    "region": "MN",
                    "country": "US"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/numbers": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List reserved numbers",
        "description": "Returns all phone numbers reserved on your account.",
        "operationId": "listReservedNumbersAlias",
        "responses": {
          "200": {
            "description": "List of reserved phone numbers on your account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReservedPhoneNumber"
                  }
                },
                "example": [
                  {
                    "id": "cab29b2d-a8be-43a6-82e1-7eb33b9fc844",
                    "phoneNumber": "+14157046427",
                    "createdAt": "2026-03-02T17:21:32.602Z",
                    "updatedAt": "2026-03-02T17:21:32.602Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/numbers/reserve": {
      "post": {
        "tags": [
          "numbers"
        ],
        "summary": "Reserve a number",
        "description": "Reserve a phone number for your account. Once reserved, it can be used for calling and texting.\n\nUse [List available numbers](/api-reference/numbers/list-available-numbers) to find a number first. During beta, each account is limited to one reserved number at a time.",
        "operationId": "reserveNumberAlias",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number successfully reserved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservedPhoneNumber"
                },
                "example": {
                  "id": "cab29b2d-a8be-43a6-82e1-7eb33b9fc844",
                  "phoneNumber": "+14157046427",
                  "createdAt": "2026-03-02T17:21:32.602Z",
                  "updatedAt": "2026-03-02T17:21:32.602Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "You can only reserve one phone number at this time."
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{reservedNumberId}": {
      "delete": {
        "tags": [
          "numbers"
        ],
        "summary": "Release a number",
        "description": "Releases a reserved phone number from your account.",
        "operationId": "deleteReservedNumberAlias",
        "parameters": [
          {
            "name": "reservedNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Number successfully released.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the released number."
                    },
                    "number": {
                      "type": "string",
                      "description": "The released phone number in E.164 format."
                    }
                  }
                },
                "example": {
                  "id": "cab29b2d-a8be-43a6-82e1-7eb33b9fc844",
                  "number": "+14157046427"
                }
              }
            }
          }
        }
      }
    },
    "/numbers/{reservedNumberId}/messages": {
      "get": {
        "tags": [
          "numbers"
        ],
        "summary": "List messages for a reserved number",
        "description": "Returns recent inbound and outbound messages for a specific reserved number.",
        "operationId": "listReservedNumberMessagesAlias",
        "parameters": [
          {
            "name": "reservedNumberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ]
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a webhook URL to receive Poku events on your reserved number.",
        "operationId": "createReservedNumberWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservedNumberWebhookRequest"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhooks",
        "description": "Returns all webhooks registered on your account.",
        "operationId": "listReservedNumberWebhooks"
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Permanently deletes a webhook from your account.",
        "operationId": "deleteReservedNumberWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "patch": {
        "tags": [
          "webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update the configuration of an existing webhook.",
        "operationId": "updateReservedNumberWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReservedNumberWebhookRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication header containing your Poku API key. Find it in the [Poku dashboard](https://dashboard.pokulabs.com/). The format is \"Bearer YOUR_API_KEY\""
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation or request error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NoContent": {
        "description": "No content"
      }
    },
    "schemas": {
      "CallRecord": {
        "type": "object",
        "required": [
          "id",
          "createdAt",
          "to",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "recordingUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MessageRecord": {
        "type": "object",
        "required": [
          "id",
          "createdAt",
          "to",
          "body",
          "medium",
          "direction",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "medium": {
            "$ref": "#/components/schemas/Medium"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ]
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Generic error shape returned by Express error middleware.",
        "additionalProperties": true
      },
      "TextDirectResponse": {
        "type": "string",
        "description": "Rendered text response, timeout message, or image-links summary."
      },
      "ContactFormDirectResponse": {
        "oneOf": [
          {
            "type": "string",
            "description": "Timeout or no-response message."
          },
          {
            "type": "object",
            "required": [
              "values",
              "content"
            ],
            "properties": {
              "values": {
                "type": "object",
                "additionalProperties": true,
                "description": "Submitted form values."
              },
              "content": {
                "type": "string",
                "description": "Raw form response body."
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "Returned when `waitForCallEnd` is `true`. A natural language summary of the call outcome."
          },
          "call": {
            "type": "object",
            "properties": {
              "recordingUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL of the call recording audio file."
              }
            },
            "additionalProperties": false
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for this call interaction. Returned for both async and wait-for-completion requests."
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedTextResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TextToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedContactFormResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactFormToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "ToolWrappedCallResponse": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CallToolResult"
            }
          }
        },
        "additionalProperties": false
      },
      "TextToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/TextDirectResponse"
          }
        },
        "additionalProperties": false
      },
      "ContactFormToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/ContactFormDirectResponse"
          }
        },
        "additionalProperties": false
      },
      "CallToolResult": {
        "type": "object",
        "required": [
          "toolCallId",
          "result"
        ],
        "properties": {
          "toolCallId": {
            "type": "string"
          },
          "result": {
            "$ref": "#/components/schemas/CallResponse"
          }
        },
        "additionalProperties": false
      },
      "Message": {
        "type": "string"
      },
      "LongMessage": {
        "type": "string"
      },
      "PhoneOrHandle": {
        "type": "string"
      },
      "WaitTime": {
        "type": "number",
        "minimum": 1,
        "maximum": 600,
        "default": 590
      },
      "FollowUpTime": {
        "type": "number",
        "minimum": 1,
        "maximum": 60000,
        "default": 60000
      },
      "Medium": {
        "type": "string",
        "enum": [
          "sms",
          "whatsapp",
          "slack"
        ]
      },
      "WhatsappTemplate": {
        "type": "object",
        "required": [
          "id",
          "variables"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false
      },
      "CaptureFormFieldOption": {
        "type": "object",
        "required": [
          "label",
          "value"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CaptureFormStringValidationRule": {
        "type": "object",
        "required": [
          "title",
          "pattern"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "pattern": {
            "type": "string",
            "description": "Must be a valid regular expression."
          }
        },
        "additionalProperties": false
      },
      "CaptureFormField": {
        "type": "object",
        "required": [
          "id",
          "label",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the field. Used as the key in the returned response payload. Accepts letters, numbers, hyphens, and underscores."
          },
          "label": {
            "type": "string",
            "description": "The text displayed above the field."
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "textarea",
              "email",
              "phone_number",
              "select",
              "checkbox",
              "address"
            ],
            "description": "The input type for the field:\n- `text` \u2014 single-line text input\n- `textarea` \u2014 multi-line text input\n- `email` \u2014 text input with built-in validation (checks for `@` and a valid domain)\n- `phone_number` \u2014 lets the recipient select or search a country code from a dropdown, then enter their phone number\n- `select` \u2014 dropdown with predefined options (see `options`)\n- `checkbox` \u2014 boolean checkbox\n- `address` \u2014 text input with address validation powered by Google Places API, ensuring only real addresses are accepted"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the field must be completed before the form can be submitted.",
            "default": false
          },
          "placeholder": {
            "type": "string",
            "description": "Placeholder text shown inside the input before the recipient types anything."
          },
          "helperText": {
            "type": "string",
            "description": "Supplementary text shown below the field to guide the recipient."
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormFieldOption"
            },
            "description": "Predefined options for `select` fields. Each option requires a `label` (shown to the recipient) and a `value` (returned in the response payload). Only valid for `select` type."
          },
          "validations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormStringValidationRule"
            },
            "description": "Custom validation rules applied to the field. Each rule requires a `title` \u2014 which is shown below the field, and a `pattern`, a regular expression the input must match.\n\nOnly valid for `text`, `textarea`, `email`, and `phone_number` fields.\n\n**Example:**\n```json\n[\n  { \"title\": \"Must be 5 to 10 characters long\", \"pattern\": \"^.{5,10}$\" },\n  { \"title\": \"Starts with a letter\", \"pattern\": \"^[A-Za-z].*\" },\n  { \"title\": \"Does not contain Z\", \"pattern\": \"^(?!.*[Z]).*$\" }\n]\n```"
          }
        },
        "additionalProperties": false
      },
      "FormBasicInput": {
        "type": "object",
        "required": [
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/LongMessage",
            "description": "Message shown before the form link. Use `{{url}}` for the full form link or `{{replyToken}}` for just the token."
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate",
            "description": "WhatsApp template payload. Only supported for WhatsApp interactions."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "submitLabel": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            }
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Customer phone number in E.164 format."
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Agent phone number in E.164 format."
          },
          "channelId": {
            "type": "string",
            "format": "uuid"
          },
          "waitTime": {
            "$ref": "#/components/schemas/WaitTime",
            "example": 60
          },
          "followUpTime": {
            "$ref": "#/components/schemas/FollowUpTime",
            "example": 6000
          },
          "medium": {
            "$ref": "#/components/schemas/Medium"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "FormMediumInput": {
        "type": "object",
        "required": [
          "message",
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "type": "string",
            "default": "Please fill out this form: {{url}}",
            "description": "The SMS body sent to the recipient. `{{url}}` inserts the full form link. `{{replyToken}}` inserts only the form ID.\n\n**Example `url`:** `https://dashboard.pokulabs.com/reply/EniUSmrc_5hisuSf`\n\n**Example `replyToken`:** `EniUSmrc_5hisuSf`"
          },
          "title": {
            "type": "string",
            "description": "The title displayed at the top of the form."
          },
          "description": {
            "type": "string",
            "description": "A subtitle shown below the title on the form."
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of your logo, displayed at the top of the form above the title."
          },
          "submitLabel": {
            "type": "string",
            "default": "Submit",
            "description": "Label on the form's submit button."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            },
            "description": "An array of fields to display on the form."
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format. See [supported countries](https://docs.pokulabs.com/reference/supported-countries)."
          },
          "from": {
            "type": "string",
            "description": "Defaults to your Poku reserved number. If you don't have one, falls back to a Poku shared number.\n\nYou can also bring your own number from Twilio or Messagebird. Configure your credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations) and pass the number here in E.164 format. If it's a US number, it must be approved for A2P texting."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "Either this parameter or `followUpTime` must be supplied.\n\nThe number of seconds the API request is held open waiting for the form to be submitted. This is displayed as a countdown on the form. When the window expires, the agent moves on. The recipient can still submit the form within the `followUpTime` window.",
            "example": 60,
            "default": 90
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Either this parameter or `waitTime` must be supplied.\n\nAfter `waitTime` expires, how long Poku continues to accept a form submission. When the form is submitted within this window, the response is sent to any webhooks you've configured. Once this window closes, the form will show \"This form has expired\".",
            "example": 6000,
            "default": 90
          }
        },
        "additionalProperties": false
      },
      "FormWhatsappInput": {
        "type": "object",
        "required": [
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/LongMessage",
            "description": "Message shown before the form link. Use `{{url}}` for the full form link or `{{replyToken}}` for just the token."
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "submitLabel": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            }
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Customer phone number in E.164 format."
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle",
            "description": "Agent phone number in E.164 format."
          },
          "waitTime": {
            "$ref": "#/components/schemas/WaitTime",
            "example": 60
          },
          "followUpTime": {
            "$ref": "#/components/schemas/FollowUpTime",
            "example": 6000
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ContactBasic": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "format": "uuid"
          },
          "medium": {
            "$ref": "#/components/schemas/Medium"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate",
            "description": "Only supported for WhatsApp interactions."
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "waitTime": {
            "$ref": "#/components/schemas/WaitTime",
            "example": 60
          },
          "followUpTime": {
            "$ref": "#/components/schemas/FollowUpTime",
            "example": 6000
          },
          "linkEnabled": {
            "type": "boolean"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ContactMessageMedium": {
        "type": "object",
        "required": [
          "message",
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message",
            "description": "The content of the message."
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format. See supported countries for Poku numbers [here](https://docs.pokulabs.com/reference/supported-countries)."
          },
          "from": {
            "type": "string",
            "description": "Defaults to your Poku reserved number. If you don't have one, falls back to a Poku shared number.\n\nYou can also bring your own number from Twilio or Messagebird. Configure your credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations) and pass the number here in E.164 format. If it's a US number, it must be approved for A2P texting."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "When undefined or not supplied, no reply is captured.\n\nWhen supplied, this is the number of seconds the API request is held open waiting for a reply. Poku returns the reply in the HTTP response.",
            "example": 60
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Duration in seconds to keep listening for a reply after the `waitTime` window closes.\n\nWhen a reply arrives within this window, Poku sends it to any webhooks you've configured.",
            "example": 6000
          }
        },
        "additionalProperties": false
      },
      "ContactMessageWhatsapp": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate"
          },
          "to": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "from": {
            "$ref": "#/components/schemas/PhoneOrHandle"
          },
          "waitTime": {
            "$ref": "#/components/schemas/WaitTime",
            "example": 60
          },
          "followUpTime": {
            "$ref": "#/components/schemas/FollowUpTime",
            "example": 6000
          },
          "linkEnabled": {
            "type": "boolean"
          }
        },
        "oneOf": [
          {
            "required": [
              "message"
            ]
          },
          {
            "required": [
              "template"
            ]
          }
        ],
        "additionalProperties": false
      },
      "ConversationCall": {
        "type": "object",
        "required": [
          "prompt",
          "to"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The prompt defines the AI's personality, conversation topic, and objective.\n\n**Example:**\n```\nYou are a friendly voice assistant calling on behalf of Joe to make a dinner reservation.\n\nMake a dinner reservation for a party of 2 people on [day] at [time], under the name Joe Smith.\n- If that time is available, confirm the reservation and ask if a note is needed for a special occasion.\n- If [time] is unavailable, ask what times are open and accept an alternative within one hour of the original if reasonable. Confirm the new time back clearly before ending the call.\n- If no one answers, leave this voicemail: \"Hi, this is a message on behalf of Joe \u2014 I'm hoping to make a dinner reservation for 2 on [day] at [time]. Please call back to confirm. Thank you.\"\n```"
          },
          "to": {
            "type": "string",
            "description": "The number you want to call, in E.164 format."
          },
          "from": {
            "type": "string",
            "description": "Defaults to your Poku reserved number. If you don't have one, falls back to a Poku shared number.\n\nYou can also bring your own number from Twilio or Messagebird. Configure your credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations) and pass the number here in E.164 format."
          },
          "transferTo": {
            "type": "string",
            "description": "The number the agent will transfer the call to if the other party asks to speak with a human. Must be in E.164 format."
          },
          "language": {
            "type": "string",
            "description": "Specifies the language and dialect. For example, `fr-FR` for French. Defaults to `en-US` if unset.\n\n**Available options:** `en-US`, `en-IN`, `en-GB`, `en-AU`, `en-NZ`, `de-DE`, `es-ES`, `es-419`, `hi-IN`, `fr-FR`, `fr-CA`, `ja-JP`, `pt-PT`, `pt-BR`, `zh-CN`, `ru-RU`, `it-IT`, `ko-KR`, `nl-NL`, `nl-BE`, `pl-PL`, `tr-TR`, `vi-VN`, `ro-RO`, `bg-BG`, `ca-ES`, `th-TH`, `da-DK`, `fi-FI`, `el-GR`, `hu-HU`, `id-ID`, `no-NO`, `sk-SK`, `sv-SE`, `lt-LT`, `lv-LV`, `cs-CZ`, `ms-MY`, `af-ZA`, `ar-SA`, `az-AZ`, `bs-BA`, `cy-GB`, `fa-IR`, `fil-PH`, `gl-ES`, `he-IL`, `hr-HR`, `hy-AM`, `is-IS`, `kk-KZ`, `kn-IN`, `mk-MK`, `mr-IN`, `ne-NP`, `sl-SI`, `sr-RS`, `sw-KE`, `ta-IN`, `ur-IN`, `yue-CN`, `uk-UA`",
            "example": "en-US"
          },
          "voice": {
            "type": "string",
            "description": "Selects the voice used for the call. Defaults to `female` if unset.",
            "enum": [
              "male",
              "female"
            ],
            "default": "female"
          },
          "waitForCallEnd": {
            "type": "boolean",
            "description": "When `false` or omitted, the request returns immediately with an `interactionId` while the call continues in the background. Use [Get Interaction Status](/api-reference/interactions/get-interaction-status) to check whether the call has ended.\n\nWhen `true`, the HTTP request stays open until the call ends, then returns the call summary and recording URL when available.",
            "default": false,
            "example": true
          }
        },
        "additionalProperties": false
      },
      "ReservePhoneNumberRequest": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "The phone number to reserve, in E.164 format. Must be a number returned by [List available numbers](/api-reference/numbers/list-available-numbers)."
          }
        },
        "additionalProperties": false
      },
      "AvailableReservedNumber": {
        "type": "object",
        "required": [
          "phoneNumber",
          "locality",
          "region",
          "country"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "locality": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "enum": [
              "US",
              "GB"
            ]
          }
        },
        "additionalProperties": false
      },
      "ReservedPhoneNumber": {
        "type": "object",
        "required": [
          "id",
          "createdAt",
          "updatedAt",
          "phoneNumber"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the reserved number."
          },
          "phoneNumber": {
            "type": "string",
            "description": "The reserved phone number in E.164 format."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the number was reserved."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the record was last updated."
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberMessage": {
        "type": "object",
        "required": [
          "sid",
          "from",
          "to",
          "body",
          "direction",
          "dateSent",
          "status"
        ],
        "properties": {
          "sid": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "nullable": true
          },
          "dateSent": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "message.received",
          "form.received",
          "call.conversation.ended"
        ]
      },
      "CreateReservedNumberWebhookRequest": {
        "type": "object",
        "required": [
          "url",
          "eventTypes"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signingSecret": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "reservedPhoneNumberIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "UpdateReservedNumberWebhookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signingSecret": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "reservedPhoneNumberIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberWebhook": {
        "type": "object",
        "required": [
          "id",
          "appUserId",
          "createdAt",
          "updatedAt",
          "url",
          "headers",
          "eventTypes",
          "interactionChannelId",
          "reservedPhoneNumberIds",
          "isActive"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "appUserId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "signingAecret": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "eventTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookEventType"
            }
          },
          "interactionChannelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "reservedPhoneNumberIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ReservedNumberWebhookListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservedNumberWebhook"
            }
          }
        },
        "additionalProperties": false
      },
      "WhatsAppMessagePoku": {
        "title": "Send from Poku WhatsApp",
        "type": "object",
        "required": [
          "message",
          "to"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "The content of your message.\n\nWhen `waitTime` is not set:\n*\"Notification from AI agent: {{message}}. No response required.\"*\n\nWhen `waitTime` is set:\n*\"Your AI agent is requesting your input. Message from agent: {{message}}. Please review and reply with your guidance. If no response is received within {{waitTime}} seconds, the request will be automatically closed.\"*"
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "When not supplied, no reply is captured.\n\nWhen supplied, this is the number of seconds the API request is held open waiting for a reply. Poku returns the reply in the HTTP response.",
            "example": 60
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Duration in seconds to keep listening for a reply after the `waitTime` window closes.\n\nWhen a reply arrives within this window, Poku sends it to any webhooks you've configured.",
            "example": 6000
          }
        },
        "additionalProperties": false
      },
      "WhatsAppMessageOwn": {
        "title": "Send from your own WhatsApp",
        "type": "object",
        "required": [
          "template",
          "to",
          "from"
        ],
        "properties": {
          "template": {
            "type": "object",
            "description": "A Meta-approved WhatsApp template. Required when sending from your own number. Configure your Twilio or MessageBird credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations).",
            "required": [
              "id",
              "variables"
            ],
            "properties": {
              "id": {
                "type": "string",
                "description": "The template UUID from your Meta Business account."
              },
              "variables": {
                "type": "object",
                "description": "Key-value pairs mapping template variable names to their values.",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "example": {
              "id": "29536325-17a1-49b3-b6fe-9b3d12b839c6",
              "variables": {
                "linkID": "{{replyToken}}"
              }
            }
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format."
          },
          "from": {
            "type": "string",
            "description": "Bring your own WhatsApp number from Twilio or Messagebird. Configure your credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations) and pass the number here in E.164 format."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "When undefined or not supplied, no reply is captured.\n\nWhen supplied, this is the number of seconds the API request is held open waiting for a reply. Poku returns the reply in the HTTP response.",
            "example": 60
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Duration in seconds to keep listening for a reply after the `waitTime` window closes.\n\nWhen a reply arrives within this window, Poku sends it to any webhooks you've configured.",
            "example": 6000
          }
        },
        "additionalProperties": false
      },
      "SlackMessage": {
        "type": "object",
        "required": [
          "message",
          "to"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "The content of the Slack message."
          },
          "to": {
            "type": "string",
            "description": "The Slack user, member, or channel ID to send the message to.\n\n- **User/Member ID:** Open the Slack user's profile, click the three-dot menu (\u22ee), and select \"Copy Member ID.\"\n- **Channel ID:** Right-click the channel, select \"View channel details,\" and copy the channel ID at the bottom of the page."
          },
          "from": {
            "type": "string",
            "description": "If left blank, the message is sent from the Poku Slack workspace \u2014 you must [join it first](https://pokulabs.slack.com/join/shared_invite/zt-334pmqhy9-oZN8cMAXLFUdmDCgNZX9rA).\n\nYour Slack workspace ID. When provided, Pokubot sends the message from within your own workspace. [How to find your workspace ID](https://slack.com/help/articles/221769328-Locate-your-Slack-URL-or-ID#find-your-workspace-or-org-id)"
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "When undefined or not supplied, no reply is captured.\n\nWhen supplied, this is the number of seconds the API request is held open waiting for a reply. The recipient MUST reply directly to the Slack thread and the reply will be captured in the HTTP response.",
            "example": 60
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Duration in seconds to keep listening for a reply after the `waitTime` window closes.\n\nWhen a reply arrives within this window, Poku sends it to any webhooks you've configured.",
            "example": 6000
          }
        },
        "additionalProperties": false
      },
      "WhatsAppFormPoku": {
        "title": "Send from Poku WhatsApp",
        "type": "object",
        "required": [
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "The title displayed at the top of the form."
          },
          "description": {
            "type": "string",
            "description": "A subtitle or description shown below the title on the form."
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of your logo, displayed at the top of the form above the title."
          },
          "submitLabel": {
            "type": "string",
            "default": "Submit",
            "description": "Label on the form's submit button. Defaults to `\"Submit\"`."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            },
            "description": "An array of fields to display on the form."
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "Either this parameter or `followUpTime` must be supplied.\n\nThe number of seconds the API request is held open waiting for the form to be submitted. This is displayed as a countdown on the form. When the window expires, the agent moves on. The recipient can still submit the form within the `followUpTime` window.",
            "example": 60,
            "default": 90
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Either this parameter or `waitTime` must be supplied.\n\nAfter `waitTime` expires, how long Poku continues to accept a form submission. When the form is submitted within this window, the response is sent to any webhooks you've configured. Once this window closes, the form will show \"This form has expired\".",
            "example": 6000,
            "default": 90
          }
        },
        "additionalProperties": false,
        "description": "When sending from Poku WhatsApp, the message is fixed and cannot be customized. The recipient receives: *\"Please fill out the following form.\"* with a button that links to a dynamically generated form URL."
      },
      "WhatsAppFormOwn": {
        "title": "Send from your own WhatsApp",
        "type": "object",
        "required": [
          "template",
          "title",
          "fields",
          "to",
          "from"
        ],
        "properties": {
          "template": {
            "$ref": "#/components/schemas/WhatsappTemplate",
            "description": "A Meta-approved WhatsApp template. Required when sending from your own number. Configure your Twilio or MessageBird credentials on the [Integrations page](https://dashboard.pokulabs.com/integrations)."
          },
          "title": {
            "type": "string",
            "description": "The title displayed at the top of the form."
          },
          "description": {
            "type": "string",
            "description": "A subtitle or description shown below the title on the form."
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of your logo, displayed at the top of the form above the title."
          },
          "submitLabel": {
            "type": "string",
            "default": "Submit",
            "description": "Label on the form's submit button. Defaults to `\"Submit\"`."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            },
            "description": "An array of fields to display on the form."
          },
          "to": {
            "type": "string",
            "description": "The number you want to message, in E.164 format."
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "Either this parameter or `followUpTime` must be supplied.\n\nThe number of seconds the API request is held open waiting for the form to be submitted. This is displayed as a countdown on the form. When the window expires, the agent moves on. The recipient can still submit the form within the `followUpTime` window.",
            "example": 60,
            "default": 90
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Either this parameter or `waitTime` must be supplied.\n\nAfter `waitTime` expires, how long Poku continues to accept a form submission. When the form is submitted within this window, the response is sent to any webhooks you've configured. Once this window closes, the form will show \"This form has expired\".",
            "example": 6000,
            "default": 90
          },
          "from": {
            "type": "string",
            "description": "Your WhatsApp-enabled number in E.164 format. We'll check your Twilio account first, then MessageBird."
          }
        },
        "additionalProperties": false
      },
      "SlackFormInput": {
        "type": "object",
        "required": [
          "message",
          "title",
          "fields",
          "to"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "The Slack message body sent to the recipient. `{{url}}` inserts the full form link. `{{replyToken}}` inserts only the form ID \u2014 for use with approved templates that lock the base URL and only accept a variable token at the end."
          },
          "title": {
            "type": "string",
            "description": "The title displayed at the top of the form."
          },
          "description": {
            "type": "string",
            "description": "A subtitle or description shown below the title on the form."
          },
          "brandImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of your logo, displayed at the top of the form above the title."
          },
          "submitLabel": {
            "type": "string",
            "default": "Submit",
            "description": "Label on the form's submit button. Defaults to `\"Submit\"`."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CaptureFormField"
            },
            "description": "An array of fields to display on the form."
          },
          "to": {
            "type": "string",
            "description": "The Slack user, member, or channel ID to send the message to.\n\n- **User/Member ID:** Open the Slack user's profile, click the three-dot menu (\u22ee), and select \"Copy Member ID.\"\n- **Channel ID:** Right-click the channel, select \"View channel details,\" and copy the channel ID at the bottom of the page."
          },
          "from": {
            "type": "string",
            "description": "Your Slack workspace or organization ID. When provided, Pokubot sends the message from within your own workspace.\n\nIf left blank, the message is sent from the Poku Slack workspace \u2014 you must [join it first](https://pokulabs.slack.com/join/shared_invite/zt-334pmqhy9-oZN8cMAXLFUdmDCgNZX9rA).\n\n[How to find your workspace ID](https://slack.com/help/articles/221769328-Locate-your-Slack-URL-or-ID#find-your-workspace-or-org-id)"
          },
          "waitTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 600,
            "description": "Either this parameter or `followUpTime` must be supplied.\n\nThe number of seconds the API request is held open waiting for the form to be submitted. This is displayed as a countdown on the form. When the window expires, the agent moves on. The recipient can still submit the form within the `followUpTime` window.",
            "example": 60,
            "default": 90
          },
          "followUpTime": {
            "type": "number",
            "minimum": 1,
            "maximum": 60000,
            "description": "Either this parameter or `waitTime` must be supplied.\n\nAfter `waitTime` expires, how long Poku continues to accept a form submission. When the form is submitted within this window, the response is sent to any webhooks you've configured. Once this window closes, the form will show \"This form has expired\".",
            "example": 6000,
            "default": 90
          }
        },
        "additionalProperties": false
      },
      "InteractionStatusResponse": {
        "type": "object",
        "required": [
          "interactionId",
          "status",
          "createdAt"
        ],
        "properties": {
          "interactionId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the interaction."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ended"
            ],
            "description": "`pending` means Poku is still waiting for a response or call completion. `ended` means the interaction is complete or its response window has expired."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the interaction was created."
          },
          "completionEvent": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MessageReceivedCompletionEvent"
              },
              {
                "$ref": "#/components/schemas/FormReceivedCompletionEvent"
              },
              {
                "$ref": "#/components/schemas/CallConversationEndedCompletionEvent"
              }
            ],
            "description": "Present when the interaction completed with a response. The shape matches the corresponding webhook event payload."
          }
        },
        "additionalProperties": false
      },
      "MessageReceivedCompletionEvent": {
        "type": "object",
        "required": [
          "event",
          "payload"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "message.received"
            ]
          },
          "payload": {
            "type": "object",
            "required": [
              "interactionId",
              "medium",
              "from",
              "to",
              "body"
            ],
            "properties": {
              "interactionId": {
                "type": "string",
                "format": "uuid"
              },
              "medium": {
                "$ref": "#/components/schemas/Medium"
              },
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "mediaUrls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "FormReceivedCompletionEvent": {
        "type": "object",
        "required": [
          "event",
          "payload"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "form.received"
            ]
          },
          "payload": {
            "type": "object",
            "required": [
              "interactionId",
              "values"
            ],
            "properties": {
              "interactionId": {
                "type": "string",
                "format": "uuid"
              },
              "values": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "CallConversationEndedCompletionEvent": {
        "type": "object",
        "required": [
          "event",
          "payload"
        ],
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "call.conversation.ended"
            ]
          },
          "payload": {
            "type": "object",
            "required": [
              "interactionId",
              "summary",
              "from",
              "to"
            ],
            "properties": {
              "interactionId": {
                "type": "string",
                "format": "uuid"
              },
              "summary": {
                "type": "string"
              },
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "SmsMessageResponse": {
        "type": "object",
        "properties": {
          "interactionId": {
            "type": "string",
            "description": "Returned when no waitTime is set. Unique identifier for this interaction."
          },
          "response": {
            "type": "string",
            "description": "Returned when waitTime is set. Contains the recipient reply, or a timeout message if no reply was received."
          }
        }
      },
      "FormResponse": {
        "type": "object",
        "properties": {
          "values": {
            "type": "object",
            "description": "The submitted form data, keyed by field ID.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "content": {
            "type": "string",
            "description": "A formatted text summary of the submitted values."
          },
          "response": {
            "type": "string",
            "description": "Returned when the waitTime expires with no form submission."
          }
        }
      },
      "AvailablePhoneNumber": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "The phone number in E.164 format."
          },
          "locality": {
            "type": "string",
            "description": "City or locality of the number."
          },
          "region": {
            "type": "string",
            "description": "State or region code."
          },
          "country": {
            "type": "string",
            "description": "Two-letter country code."
          }
        }
      }
    }
  }
}